@{
    ViewBag.Title = "";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <br />
    <div class="row">
        <div class="col-md-12">
            @Html.Label("lbGuinche", "Guinchê:")
            @Html.TextBox("tbGuinche", "")
        
            @Html.Label("lbSenhaAtual", "Senha Atual:")
            @Html.TextBox("tbSenhaAtual", "0", new {@disabled = "disabled"})
            <button type="submit" id="proximaSenha" onclick=" GerarProximaSenha(); "> Chamar Próxima Senha </button>
        </div>
    </div>
</body>
</html>


@section scripts {

    @Scripts.Render("~/bundles/SignalR")
    <script src="~/signalr/hubs"></script>

    <script>
        
        function GerarProximaSenha() {

            var painel = $.connection.painelSenhasHub;

            $.connection.hub.start().done(function () {
                var senha = parseInt($("#tbSenhaAtual").val()) + 1;
                var guinche = $("#tbGuinche").val();
                painel.server.informarSenhaAtual(guinche,senha);
                $("#tbSenhaAtual").val(senha);
            });
        };

    </script>
}